body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
}

.footer {
  margin: 0.3rem 0.2rem;
}

label {
  margin-bottom: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  color: #222323;
}
input,
textarea {
  background-color: #f1f1f1;
  padding: 0.3rem 0.5rem;
  margin-bottom: 0.8rem;
  border-radius: 0.2rem;
  color: #383838;
  font-weight: 600;
}

button {
  user-select: none;
}

.notes p {
  width: 50%;
}

@media screen and (min-width: 766px) {
  .form-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .tableform .desc {
    display: flex;
    flex-direction: column;
  }

  .quan {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
.form-input div {
  display: flex;
  flex-direction: column;
}



@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300&display=swap');

*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
}

.invoice-container {
  width: 840px;
  margin: 0 auto;
}

.invoice {
    font-family: Arial, sans-serif;
    width: 840px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .invoice-section {
    margin-bottom: 20px;
  }
  
  .invoice-section p {
    margin: 0;
    padding: 0;
  }
  
  .head-i{
    text-align: center;
    margin-bottom: 20px;
    
  }
  .logo-a{
   
    text-align: center;
  }
  .tax{
    display: flex;
  }
  .tax h1{
    font-size: 16px;
  }
  
  .logo-a h4{
    font-weight:800;
    
}

.logo-a p{
    font-size:12px;
    font-weight:600;
    text-align: center;
    margin: 0 20%;
}
.main-table{
    display: flex;
    flex-direction: column;
    
}


.table-c{
    background-color: rgb(137, 95, 252);
}
.color td{
    border:2px solid black
}

.bill-table td{
    border: 2px solid black;
}
.tr{
    border:2px solid black
}

.color{
    color:white;
}
.table-2{
    display:flex;
    flex-direction: row;
    width:30%;
}
.head-t{
    text-align: center;
  }
 .form-m form{
  text-align: end;
  margin-right: 35px;
  
 }
 .tota-l{
  font-weight: 600;
 }
.data-t {
  color: #fff;
  background-color: rgb(131, 131, 131);
}
.inst{
  font-size: 12px;
  padding: 0 0 0 20px;
}
.wa-p{
  width: 35%;
  font-size: 12px;
}
.wa-p p{
  text-align: center;
}
.tdata td{
  text-align: center;
}
.total-l{
  background-color: #efebeb;
}
.wa-pl{
  text-align: end;
  font-size: 12px;
  padding: 0 20px 0 0;
}
.wid-t th{
  width: 50%;
}
.text th{
  text-align: left;
}
.Auth-r{
 padding: 20px 0;
}
.textr{
  text-align: center;
}
.table-cl td{
  background-color: rgb(235, 235, 232);
  text-align: center;
  padding: 4px;
}
.text-v{
  text-align: center;
}
.text-v h1{
  color: rgb(132, 87, 255);
}
.text-f{
  display: flex;
  justify-content: space-between;
}

.invoice-p{
  text-align: end;
}